@keyframes example {
  12.5%{
    background-color: red;
  }
  25%{ 
    background-color: orange;
  }
  37.5%{ 
    background-color: yellow;
  }
  50%{ 
    background-color: green;
  }
  62.5%{ 
    background-color: blue;
  }
  75%{ 
    background-color: indigo;
  }
  87.5%{ 
    background-color: violet;
  }
  100%{ 
    background-color: violet;
  }
}

h3::before {
  transform: scaleX(0);
  transform-origin: bottom right;
  animation: infinite linear alternate-reverse 8s example;
}
body {
  place-content:center;
  justify-content: center;
  align-items: center;
  text-align: center;
}


h3 {
  font-style: italic;
  text-align: center;
  font-size: 100px;
  position: relative;
  margin: auto;
  width:fit-content;

}

h3:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
  animation: infinite linear alternate-reverse 8s example;
}

h3::before { 
  content: " ";
  position: absolute;
  display:block;
  z-index: -1;
  top: 0; right: 0; bottom: 0; left: 0;
  background: hsl(200, 65%, 38%);
  transition: transform 0.4s ease;
  justify-content: center;
  align-content:center;
  text-align: center;
  inset: 0 0 0 0;
  
}
