@keyframes example {
  12.5%{
    background-color: red;
  }
  25%{ 
    background-color: orange;
  }
  37.5%{ 
    background-color: yellow;
  }
  50%{ 
    background-color: green;
  }
  62.5%{ 
    background-color: blue;
  }
  75%{ 
    background-color: indigo;
  }
  87.5%{ 
    background-color: violet;
  }
  100%{ 
    background-color: violet;
  }
}


h1::before {
  transform: scaleX(0);
  transform-origin: bottom right;
  animation: infinite linear alternate-reverse 8s example;
}

h1 {
  font-style: italic;
}

h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
  animation: infinite linear alternate-reverse 8s example;
}

h1::before { 
  display: block;
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0; right: 0; bottom: 0; left: 0;
  background: hsl(200 100% 80%);
  transition: transform 0.3s ease;
}

h1 {
 position: relative;
  
}
  